@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Robot', sans-serif;
    color: #333333;
    text-align: left;
    font-weight: bold;
}   
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
h2 {
    font-size: 2em;
    margin-bottom: auto;
}
h3 {
    font-size: 1.75em;
    margin-bottom: auto;
}
h4 {
    font-size: 1.5em;
    margin-bottom: auto;
}
}h5 {
    font-size: 1.25em;
    margin-bottom: auto;
}
h6 {
    font-size: 1em;
    margin-bottom: auto;
}
p {
    font-size: 1em;
    font-family: 'roboto', sans-serif;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555555;
}

